<html>
    <body>
        <form action="/act/addAct" method="post">
            <span class="input">Name of Document</span> <br/>
            <input class="field" type="text" placeholder="name of document" name="nameDoc"> <br/>
            
            <span class="input">Type of Activity</span> <br/>
            <input class="field" type="text" placeholder="Type of Activity" name="type"> <br/>
            
            <span class="input">Name of Activity</span> <br/>
            <input class="field" type="text" placeholder="Type of Activity" name="actName"> <br/>
            
            <span class="input">Date</span> <br/>
            <input class="field" type="text" placeholder="MM/DD/YYYY" name="date"> <br/>
                        
            <span class="input">Venue</span> <br/>
            <input class="field" type="text" placeholder="Venue" name="venue"> <br/>
                        
            <span class="input">Time</span> <br/>
            <input class="field" type="text" placeholder="00:00" name="time"> <br/>
            
            <span class="input">ENP</span> <br/>
            <input class="field" type="text" placeholder="input number" name="ENPnum"> <br/>
                        
            <span class="input">ENMP</span> <br/>
            <input class="field" type="text" placeholder="input number" name="ENMPnum"> <br/>    

            <span class="input">Is Online</span> <br/>
            <input class="field" type="text" placeholder="Yes/No" name="online"> <br/>    
                    
            <span class="input">In GOSM</span> <br/>
            <input class="field" type="text" placeholder="Yes/No" name="GOSM"> <br/>    
                            
            <div class="buttons">
                <input id="loginButt" type="submit" value="Submit">
            </div>
        </form>    
    </body>
</html>