<html>
    <body>
        <form action="/register" method="POST">
            <div>Full Name</div>
            <input type="text" name="name">

            <div>Email</div>
            <input type="text" name="email">
            
            <div>Password</div>
            <input type="text" name="password">
            
            <div>Org</div>
            <select name="org">
                <option>CSO</option>
                <option>LSCS</option>
            </select>
            
            <input type="submit" value="register">
        </form>
    </body>
</html>