<html>
    <body>
        <form action="/register" method="POST">
            <div>Given Name</div>
            <input type="text" name="firstname">
           <div>Last Name</div>
            <input type = "text" name = "lastname">
            <div>Email</div>
            <input type="text" name="email">
            
            <div>Password</div>
            <input type="password" name="password">
            
            <div>Org</div>
            <select name="org">
                <option>CSO</option>
                <option>LSCS</option>
            </select>
            
            <input type="submit" value="register">
        </form>
    </body>
</html>