.mainCont {
    height: 100%;
    display: flex;
    background-color: #8C908C;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Signika';
}

.info {
    display: flex;
    background-color: #1D3D19;
    flex-grow: 1;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100%;
}

.login {
    display: flex;
    background-color: rgb(222, 224, 207);
    flex-grow: 2;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100%;
}

.loginBod {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 70%;
    width: 70%;
}

.head {
    flex-grow: 1;
    justify-content: space-around;
}

.form {
    display: inline-block;
    flex-grow: 1;
    justify-content: space-between;
}

.field {
    flex-grow: 1;
    width: 100%;
    height: 25px;
}

.buttons {
    flex-grow: 1;
    justify-content: start;
}

.input {
    flex-grow: 1;
    font-size: 25px;
    color: #1D3D19;
}

.loginHead {
    font-size: 50px;
    color: #1D3D19;
    font-family: 'Fira Sans';
}

#prompt {
    font-size: 25px;
    color: #8C908C;
}

#icon {
    border-radius: 280px;
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

#pic {
    border-radius: 280px;
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-size: 50px;
    text-align: center;
    color: #CBCA98;
}

#desc {
    font-size: 20px;
    text-align: center;
    color: #B3AE5D;
}

button {
    height: 25px;
    width: 100px
}

#loginButt {
    background-color: #8CA484;
    color: #CBCA98;
}

#adminButt {
    background-color: #8C908C;
    color: #CBCA98;
    font-family: 'Signika';
}