.mainCont {
    background-color: #8C8D8C;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-content: center;
    font-family: 'Signika';
}

.header {
    position: fixed;
    display: flex;
    background-color: #1D3D19;
    width: 100%;
    justify-content: start;
    align-content: center;
    padding: 10px 0px 15px 0px;
    height: 10%;
    flex-direction: column;
    top: 0%;
    color: #CBCA98;
}

.divider {
    position: absolute;
    width: 100%;
    background-color: #889C83;
    height: 7%;
    top: 13%;
}

.body {
    position: fixed;
    display: relative;
    background-color: rgb(231, 231, 219);
    height: 80%;
    top: 20%;
    width: 100%;
    color: #1D3D19;
}

.containerEncode {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    margin-top: 2%;
    background-color: transparent;
}

#encoding {
    background-color: #889C83;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#encodingDetails {
    background-color: transparent;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#orgName {
    font-size: 50px;
}

#function {
    font-size: 50px;
    text-align: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    border-radius: 300px;
    width: 300px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

#uploadDirectly {
    flex-grow: 1;
    background-color: transparent;
}

#form {
    flex-grow: 3;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.title {
    font-size: 50px;
}

.name {
    font-size: 25px;
}

.butt {
    width: 100px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    color: #1D3D19;
    background-color: #889C83;
}

.smallText {
    font-size: 14;
}

form {
    margin: auto auto auto auto;
    flex-grow: 2;
}

.button {
    height: 100%;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;
    background-color: #B2AE5E;
    font-size: 20px;
    padding-left: 20px;
}

#navi {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 40px;
    margin-left: 30px;
    justify-content: space-between;
    background-color: transparent;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

#backButt {
    color: #CBCA98;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
}